<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="goodsCs" style="margin-bottom: 200px;">
    <h2 class="title">상품 문의</h2>
    <div class="nav" style="position: relative; width: 97%; margin:15px auto;">
        <ul class="sub_menu f20	" style="text-align: right; display: flex; justify-content: space-between; width: 50%; margin:0 0 20px 0; padding:0 0 0 0!important;">
            <li><a th:href="@{/admin/goodsCs(category=${0})}">All</a></li>
            <li><a th:href="@{/admin/goodsCs(category=${1})}">상품문의</a></li>
            <li><a th:href="@{/admin/goodsCs(category=${2})}">주문/배송문의</a></li>
        </ul>
        <ul style="position:absolute; bottom:0; right: 0;">
            <select th:onchange="|location='/admin/goodsCs?category=' + ${category} + '&sortValue=' + this.value;|">
                <option value="0" th:selected="${sortValue == 0}">전체</option>
                <option value="1" th:selected="${sortValue == 1}">미완료</option>
                <option value="2" th:selected="${sortValue == 2}">답변 완료</option>
            </select>
        </ul>
    </div>

    <table style="width: 100%; border-bottom: 1px solid black;">
            <tr class="agl">
                <td>NO</td>
                <td>상품번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>등록일</td>
                <td>상태</td>
            </tr>
            <div th:each="goodsQnA,stat:${goodsQnAs}">
            <tr>
                <td><span th:text="${stat.index+1}"></span></td>
                <td><a th:href="@{|/goods/detail/${goodsQnA.GoodsDto.idx}|}">
                    <span>goods_</span><span th:text="${goodsQnA.GoodsDto.idx}"></span>
                </a></td>
                <td><span th:text="${goodsQnA.title}"></span></td>
                <td><span th:text="${goodsQnA.memberId}"></span></td>
                <td><span th:text="${goodsQnA.questionDate}"></span></td>
                <td>
                    <span th:if="${goodsQnA.state == 0}">답변대기</span>
                    <span th:if="${goodsQnA.state == 1}">답변완료</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4"><span th:text="${goodsQnA.question}"></span></td>
                <td></td>
            </tr>
            <tr th:if="${goodsQnA.state == 1}">
                <td></td>
                <td colspan="4"><textarea th:id="'answer_'+${goodsQnA.idx}" th:text="${goodsQnA.answer}"></textarea></td>
                <td>
                    <span>X</span><br>
                    <button type="button" th:onclick="'saveAnswer(' + ${goodsQnA.idx} + ')'" >등록</button>
                </td>
                <td></td>
            </tr>
            <tr th:if="${goodsQnA.state == 2}">
                <td></td>
                <td colspan="4"><textarea th:id="'answer_'+${goodsQnA.idx}" th:text="${goodsQnA.answer}"></textarea></td>
                <td>
                    <span>O</span><br>
                    <button type="button" th:onclick="'saveAnswer(' + ${goodsQnA.idx} + ')'" >수정</button>
                </td>
                <td></td>
            </tr>
        </div>
    </table>

    <script>
        function saveAnswer(idx){
            var answer = document.getElementById('answer_'+idx).value
           console.log(answer)
            $.ajax({
                type: 'POST',
                data: {
                    idx:idx,
                    answer:answer
                },
                url: "/goodsCS/goodsAnswer",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (json) {
                    alert(json)

                },
                error: function () {
                    console.log("error");
                },
            });
        }
    </script>

    <!--    페이징-->
    <div th:if="${!goodsQnAs.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!goodsQnAs.hasPrevious()} ? 'disabled'">
                <a class="page-link"
                   th:if="${goodsQnAs.hasPrevious()}"
                   th:href="@{|?category=${category}&sortValue=${sortValue}&page=${goodsQnAs.number-1}|}">
                    <span><</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, goodsQnAs.totalPages-1)}"
                th:if="${page >= goodsQnAs.number-5 and page <= goodsQnAs.number+5}"
                th:classappend="${page == goodsQnAs.number} ? 'active'"
                class="page-item">
                <a th:text="${page+1}" class="page-link" th:href="@{|?category=${category}&sortValue=${sortValue}&page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!goodsQnAs.hasNext()} ? 'disabled'">
                <a class="page-link"
                   th:if="${goodsQnAs.hasNext()}"
                   th:href="@{|?category=${category}&sortValue=${sortValue}&page=${goods.number+1}|}">
                    <span>></span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>