<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="reportBoard">
    <style>
        .button-group {
        }
        .button-group form{
			display: inline-block;
		}
        button{
			background-color: black;
			color: white;
			border-radius: 10px;
		}
    </style>
    <h2 class="title" style="margin:20px 0;">신고게시글 관리</h2>
    <table style="width: 100%;">
        <thead>
            <tr style="height: 30px; border-bottom: 1px solid #c3c3c3;">
                <th>게시물 번호</th>
                <th>제목</th>
                <th>신고 횟수</th>
                <th>닉네임</th>
                <th>등록,수정일</th>
                <th>관리</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${reportedBoards}" style="border-bottom: 1px solid #c3c3c3; height: 50px; line-height: 50px; text-align: center;">
                <td><a th:href="@{|/board/board_detail/${board.idx}|}" th:text="${board.idx}"></a></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.reportCount}"></td>
                <td th:text="${board.nickname}"></td>
                <td th:text="${#temporals.format(board.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td class="button-group">
                    <form th:action="@{'/admin/deleteBoard/' + ${board.idx}}" method="post">
                        <button type="submit">삭제</button>
                    </form>
                    <form th:action="@{'/admin/punishBoard/' + ${board.idx}}" method="post">
                        <button type="submit">제한</button>
                    </form>
                    <form th:action="@{'/admin/unpunishBoard/' + ${board.idx}}" method="post">
                        <button type="submit">제한 해제</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</html>