<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<div layout:fragment="content">
	<style>
		.gswl li{padding:5px 0; width: 90%; margin:0 auto;}
		.mySwiper99{height: 100%; margin-right: 0; margin-left:0;}
		.summary{  overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;  word-break: break-all;}
		.goodsInfoWrap{flex:1!important;}	
		.boardDetailArea{width: 60%; display: inline-block; height: 745px; overflow-y: auto;}
		.boardDetailArea img{width: 100%;}
		.boardInfoArea{padding:5px 0 5px 20px; display: inline-block; flex:1; height: 738px; vertical-align: top; text-align: left;       display: flex;      flex-wrap: wrap;      flex-direction: column; /*수직 정렬*/}
		.boardInfoArea li{padding:5px 20px; }		
		.boardDetailArea{
		   -ms-overflow-style: none;
		}
		.boardDetailArea::-webkit-scrollbar{
		  display:none;
		}
		.mbR{overflow-y: auto; flex:1; border: 1px solid #b3acb3cc; margin-top:10px; margin-left:20px; }			
	</style>
	<link rel="stylesheet" type="text/css" href="/layout/css/main.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<div class="Hyeoks' OOTD">
		<div class="f50">Best OOTD</div>
		<div class="goods ot" style="position: relative; margin-bottom: 50px;">
			<div class="mySwiper1 swiper" style="position: relative;">
				<ul class="swiper-wrapper gsw">
					<li class="swiper-slide gswl gswls" th:each="board:${boardList}">
						<ul>
							<div style="position:relative; height: 0; padding-bottom:120%; overflow:hidden;" class="mySwiper1-2 swiper">
								<div class="swiper-wrapper">

									<li th:each="imageUrl : ${board.imageUrls}" th:name="${board.idx}" class="button1 swiper-slide" style="padding-bottom:130%;">
										<img th:src="${imageUrl}" alt="Board Image">
									</li>
								</div>
								<div class="i-hover">
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
									<div class="swiper-pagination"></div>
								</div>
								<li style="background: rgba(0, 0, 0, 0.5); width: 100%; text-align: left; position: absolute; bottom: 5px; z-index: 99;">
									<span style="position:relative; display:inline-block; width:50px; margin-left:20px; height:50px;  border-radius:100px; overflow:hidden;">
										<img th:src="|${board.memeberImg}|" alt="이미지" style="width:100%;">
									</span>
									<span style="line-height: 50px; display: inline-block; height: 50px; vertical-align: bottom; margin-left:10px; color:white; letter-spacing:1px;  text-shadow: 4px 2px 2px gray; font-weight:600;" th:text="${board.nickname}">
									</span>                                	
								</li>
							</div>
							<li class="likeView" style="text-align: right;">
	                            <span th:text="'👀 '+${board.viewcount}" style="width: 50%; text-align: right;"></span>
	                            <span th:text="'♡ '+${board.likesCount}" style="width: 50%; text-align: right;"></span>																
							</li>							
                            <li><a th:href="|/board/board_detail/${board.idx}|"  th:text="${board.title}"></a></li>
                            <li th:text="${board.category}"></li>
                            <li th:text="${board.nickname}"></li>								
							<li>
								<span th:each="hashtag:${board.hashtags}">
									<a th:href="@{/board/hashtag/{hashtag}(hashtag=${hashtag})}" th:text="${hashtag}"></a>
								</span>
							</li>                            							
						</ul>
					</li>
				</ul>
			</div>
			<div class="swiper-button-next1-1"></div>
			<div class="swiper-button-prev1-1"></div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper(".mySwiper1", {
				slidesPerView: 4.3,
				pagination: {
					el: ".swiper-pagination1-1",
					clickable: true,
				},
				navigation: {
					nextEl: ".swiper-button-next1-1",
					prevEl: ".swiper-button-prev1-1",
				},
			});
			var swiper = new Swiper(".mySwiper1-2", {
				pagination: {
					el: ".swiper-pagination",
					type: "progressbar",
				},
				navigation: {
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev",
				},
			});
		</script>
            <div th:each="board:${boardList}">
                <div th:class="'bmodal-container'+${board.idx} +' modal-container'">
                    <div class="modal-background">
                        <div class="modal" >
                            <div class="mScroll">
                                <div class="modalOut" th:name="${board.idx}" onclick="modalOut1()">X</div>
								<div th:if="${board.reportCount < 2 or #authorization.expression('hasRole(''ROLE_ADMIN'')')}">				
                                <div style="display: flex;">
									<div class="boardDetailArea">			
						                <div th:utext="${board.detail}"></div>				
									</div>                                
									<div class="boardInfoArea" style="position:relative;">
										<ul>
							                <li style="display: inline-block;"><a th:if="${board.memberidx == ridx}"
							                        th:href="@{/board/board_update/{idx}(idx=${board.idx})}">수정</a>
							                </li>
							                <li style="display: inline-block;">
							                    <form th:if="${board.memberidx== ridx}" th:action="@{/board/board_delete/{idx}(idx=${board.idx})}"
							                        method="post">
							                        <button type="submit">삭제</button>
							                    </form>
							                </li>					
							                <li style="color: black;    font-weight: 600;    font-size: 20px;    padding: 0px 20px;">
								                <span th:text="${board.category}"></li>
											</li>
							                <li style="color: black;    font-weight: 400;    font-size: 30px;     padding: 10px 20px;    display: inline-block;">
								                <span th:text="${board.title}"></span>					
											</li>
											<div style="position:absolute; top:0; right:0">
										        <span style="display: inline-block;" th:insert="~{fragments/like :: boardLike}"
							                        th:if="${#authorization.expression('isAuthenticated()')}">
							                    </span>
							                    <span style="display: inline-block;" th:insert="~{fragments/report :: boardReport}"
							                        th:if="${#authorization.expression('isAuthenticated()')}">
							                    </span>			                
											</div>	                											
										    <li>
							                    <span th:each="hashtag : ${hashtags}">
							                        <a th:href="@{'/board/hashtag/' + ${#strings.replace(hashtag.hashtag, '#', '%23')}}">
							                            <span th:text="${hashtag.hashtag}"></span>
							                        </a>
							                    </span>
							                </li>
							                <li> 
								                <span th:text="${#temporals.format(board.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></span>					
											</li>
							                <li>착장정보/제품소개</li>
							                <li th:if="${board.outerwear}" th:text="'OUTER : '+${board.outerwear}"></li>
							                <li th:if="${board.top}" th:text="'TOP : '+${board.top}"></li>
							                <li th:if="${board.bottom}" th:text="'BOTTOM : '+${board.bottom}"></li>
							                <li th:if="${board.shoes}" th:text="'SHOES : '+${board.shoes}"></li>
							                <li th:if="${board.acc}" th:text="'ACC : '+${board.acc}"></li>		
										</ul>
										<span style="margin-left:20px;">댓글</span>
										<div class="mbR" th:insert="~{fragments/reply :: boardreply(replyList = ${board.replydtos})}"></div>                                                             
									</div> 
								</div> 
							</div>	
										<div th:if="${board.reportCount >= 2 and !#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
								            <p>이 게시글은 신고 횟수가 10회 이상으로, 내용을 보여줄 수 없습니다.</p>
								        </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            		
	</div>


	<div class="Hyeoks'PickGoods">
		<div class="f50">Hyeok's Pick</div>
		<div class="goods ct" style="position: relative; margin-bottom: 50px;">
			<div class="mySwiper swiper" style="position: relative;">
				<ul class="swiper-wrapper gsw">
					<li class="swiper-slide gswl" th:each="goods:${goods}">
						<ul>
							<div style="position:relative; height: 0; padding-bottom:120%; overflow:hidden;" class="mySwiper2 swiper">
								<div class="swiper-wrapper">
									<li th:each="fileDto : ${goods.fileDtos}" th:name="${goods.idx}" class="button swiper-slide" style="padding-bottom:130%;">
										<img th:src="@{|${fileDto.path}|}" alt="Goods Image">
									</li>
								</div>
								<div class="i-hover">
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
									<div class="swiper-pagination"></div>
								</div>
								<div class="left_menu" th:replace="~{fragments/like :: goodsLike(likeTF=${goods.likeTF})}"></div>
							</div>
							<li class="gname"><a th:href="@{|/goods/detail/${goods.idx}|}" th:text="${goods.name}"></a></li>
							<li class="summary" th:text="${goods.summary}"></li>
							<li class="sellingPrice" th:text="${goods.sellingPrice}+'원'"></li>
							<li class="discountPrice" th:text="${goods.discountPrice}+'원'"></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="swiper-button-next2-1"></div>
			<div class="swiper-button-prev2-1"></div>
			<div class="swiper-pagination2-1"></div>
		</div>

		<!-- Initialize Swiper -->
		<script>
			var swiper = new Swiper(".mySwiper", {
				slidesPerView: 4.3,
				pagination: {
					el: ".swiper-pagination2",
					clickable: true,
				},
				navigation: {
					nextEl: ".swiper-button-next2-1",
					prevEl: ".swiper-button-prev2-1",
				},
			});
		</script>

		<script>
			var swiper = new Swiper(".mySwiper2", {
				pagination: {
					el: ".swiper-pagination",
					type: "progressbar",
				},
				navigation: {
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev",
				},
			});
		</script>  		
                <div th:each="goods:${goods}">
                    <div th:class="'modal-container' + ${goods.idx} + ' modal-container'">
                        <div class="modal-background">
                            <div class="modal" >
                                <div class="mScroll">
                                    <div class="modalOut" th:name="${goods.idx}" onclick="modalOut()">X</div>
                                    <div th:replace="~{goods/detail :: goodsDetailFragment(goods = ${goods})}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	</div>

	<script>
		var jsonData = null;
		var $button         = $('.button'),
				$button1         = $('.button1'),
				$modalContainer1,
				$modalContainer,
				$body           = $('body'),
				$ct        = $('.ct'),
				$idx,
				chkModal,
				btnId;

		$button1.on('click', function () {
			idx = $(this).attr('name');
			chkModal ="bmodal-container"+idx;
			modalContainer1 = $('.'+chkModal)
			btnId = 'two';
			modalContainer1
					.removeClass('out')
					.addClass(btnId);
			$ct
					.removeAttr('class')
					.addClass('ct');

			$body.addClass('modal-active');
			$ct.addClass(btnId);
		});

		function modalOut1(){

			idx = $(this).attr('name');
			chkModal ="modal-container"+idx;
			modalContainer1 = $('.'+chkModal)
			modalContainer1.addClass('out');
			$body.removeClass('modal-active');
			$('.sop').empty();
			$(':button1').removeClass('selected');
			if (modalContainer1.hasClass(btnId)) {
				$ot.addClass('out');
			}
		}
		
		$button.on('click', function () {
			idx = $(this).attr('name');
			chkModal ="modal-container"+idx;
			modalContainer = $('.'+chkModal)
			btnId = 'two';
			modalContainer
					.removeClass('out')
					.addClass(btnId);
			$ct
					.removeAttr('class')
					.addClass('ct');

			$body.addClass('modal-active');
			$ct.addClass(btnId);
		});
		

		function modalOut(){

			idx = $(this).attr('name');
			chkModal ="modal-container"+idx;
			modalContainer = $('.'+chkModal)
			modalContainer.addClass('out');
			$body.removeClass('modal-active');
			$('.sop').empty();
			$(':button').removeClass('selected');
			if (modalContainer.hasClass(btnId)) {
				$ct.addClass('out');
			}
		}


		$(document).keyup(function (e) {
			if (e.key === "Escape") {
				modalOut();
			}
		});

	</script>

</div>
</html>